{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h1 style="color: rgb(24, 156, 180); text-align: center;">Hey {{user}},Let us know more about you!</h1>
<br>
<br>
<div class="formcontainer" style="align: center;">
    <form method="POST" action="." enctype="multipart/form-data" style="margin-left: 50px; ">
        {% csrf_token %}
        {{form|crispy}}
        <div class="formsubmit" style="text-align: center;">
        <input type="submit" value="Update">
        </div>
    </form>
</div>
{% endblock %}